<!DOCTYPE html>
<html>
	<head>
		<title>Upload</title>
	</head>
	<body>
	<p>Upload a picture to the database</p>
		<form action="http://localhost:8080/" method="get">
				<label>Picture Name: <input type="text" name="name" size="30" maxlength="255"></label><br />
				<label>File Path: <input type="text" name="path" size="30" maxlength="255"></label><br />
				<label>File Extension: <input type="text" name="ext" size="30" maxlength="10"></label><br />
				<label>Size (in kilobytes): <input type="text" name="size" size="30" maxlength="10"></label><br />
				<br/>
				<input type="submit" value="Upload" />
		</form>
	</body>
</html>
